body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.block {
  padding: 50px 10px 50px 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel {
  max-height: 600px;
}

.block-dark-grey {
  background: #2e2e2e;
}

.block-light-grey {
  background: #FBFBFB;
}

.bg-grey {
  background-color: #f1f1f1 !important;
}

.headline {
  position: absolute;
  color: white;
  width: 20%;
  top: 50px;
  z-index: 99;
  line-height: 40px;
  margin-left: 40px;
}

.content {
  margin-top: 100px;
}

.About {
  max-width: 900px;
}