@import url("https://fonts.googleapis.com/css?family=Roboto");
.blog-list .views-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .50rem;
  overflow: hidden; }

/* Colors */
.block {
  margin-bottom: 0px !important; }

body {
  font-family: 'Roboto', sans-serif !important; }
  body a {
    color: #09339E !important; }

.blog-list .views-row {
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }
  .blog-list .views-row .views-field-title, .blog-list .views-row .views-field-body {
    padding: 0 10px 0 10px; }

/* SEARCH FORM */
.search-block-form .js-form-type-search .form-search {
  color: #09339E !important; }

.search-block-form .form-actions .js-form-submit {
  background: #09339E !important; }

input[type="submit"] {
  background: #09339E !important; }

/* MAIN MENU */
#main-menu a {
  color: #FFFFFF !important; }

/* RELATED BLOCK */
.block-views-blockrelated-blog-block-2, .block-views-blockrelated-blog-block-1 {
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 15px !important; }

/* PROMO BLOCK */
#block-cdf-cambodiandevelopmentfoundation {
  padding: 15px;
  font-size: 21px;
  padding-right: 0px;
  line-height: 34px;
  display: block;
  clear: both; }
  #block-cdf-cambodiandevelopmentfoundation p {
    text-align: right; }

/* HEADER */
.main-header {
  background: url(../images/bg_header.jpeg) !important; }

/* ARTICLE NODE */
.site-branding__logo img {
  max-width: 100px; }

#block-cdf-main-menu {
  float: right; }
  #block-cdf-main-menu #main-menu li:last-child a {
    padding-right: 0; }

#search-block-form {
  max-width: 400px;
  float: right; }
