@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'components';
@import 'variables';

.block {
    margin-bottom: 0px !important;
}
body {
    font-family: 'Roboto', sans-serif !important;
    a {
        color: $primary-color !important;
    }
}

.blog-list {
    .views-row {
        @extend %card;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        .views-field-title, .views-field-body {
           padding: 0 10px 0 10px;
        } 
    }
}

/* SEARCH FORM */
.search-block-form {
    .js-form-type-search {
        .form-search {
            color: $primary-color !important;
        }
    }
    .form-actions {
        .js-form-submit {
            background: $primary-color !important;
        }
    }
}
input[type="submit"] {
    background: $primary-color !important;
}

/* MAIN MENU */
#main-menu {
    a {
        color: #FFFFFF !important;
    }
}

/* RELATED BLOCK */
.block-views-blockrelated-blog-block-2, .block-views-blockrelated-blog-block-1 {
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 15px !important;
}

/* PROMO BLOCK */
#block-cdf-cambodiandevelopmentfoundation {
    padding: 15px;
    font-size: 21px;
    padding-right: 0px;
    line-height: 34px;
    p {
        text-align: right;
    }
    display: block;
    clear: both;
}

/* HEADER */
.main-header {
    background: url(../images/bg_header.jpeg) !important;
}

/* ARTICLE NODE */
.node--type-article {

}

.site-branding__logo img {
    max-width: 100px;
}

#block-cdf-main-menu {
    float:right;
    #main-menu {
        li:last-child {
            a {
                padding-right: 0;
            }
        }
    }
}

#search-block-form {
    max-width: 400px;
    float: right;
}